function Point.new 2
push constant 2
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push static 0
push constant 1
add
pop static 0
push pointer 0
return
function Point.getx 1
push this 0
pop local 0
push local 0
return
