function Board.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push constant 30
pop static 0
push constant 10
pop static 1
push argument 0
pop this 0
push argument 1
pop this 1
push pointer 0
return
function Board.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Board.draw 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push static 1
add
push this 1
push static 0
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Board.erase 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push static 1
add
push this 1
push static 0
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Board.setX 0
push argument 0
pop pointer 0
push argument 1
pop this 0
push constant 0
return
function Board.setY 0
push argument 0
pop pointer 0
push argument 1
pop this 1
push constant 0
return
function Board.move 0
push argument 0
pop pointer 0
push pointer 0
call Board.erase 1
pop temp 0
push argument 1
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 1
push constant 1
gt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 1
push constant 2
sub
pop this 1
label IF_FALSE1
label IF_FALSE0
push argument 1
push constant 2
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 1
push constant 209
lt
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 1
push constant 2
add
pop this 1
label IF_FALSE3
label IF_FALSE2
push argument 1
push constant 3
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push this 0
push constant 1
gt
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push this 0
push constant 2
sub
pop this 0
label IF_FALSE5
label IF_FALSE4
push argument 1
push constant 4
eq
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push this 0
push constant 500
lt
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push this 0
push constant 2
add
pop this 0
label IF_FALSE7
label IF_FALSE6
push pointer 0
call Board.draw 1
pop temp 0
push constant 0
return
function Board.isHit 2
push argument 0
pop pointer 0
push this 0
push static 1
add
pop local 0
push this 1
push static 0
add
pop local 1
push argument 1
push this 0
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 1
push local 0
lt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push argument 2
push this 1
gt
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push argument 2
push local 1
lt
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 0
not
return
label IF_FALSE3
label IF_FALSE2
label IF_FALSE1
label IF_FALSE0
push constant 0
return
